/* golbal */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #222222;
    color: #404040;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    color: #fdfffc;
    font-family: 'Volkhov', serif;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

span {
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    color: #666;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.btn-style {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
    transition: all .25s ease-in-out;
}

.btn-style:hover {
    background: #009f4d;
    color: #ffffff;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(46 202 139 / 25%);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* header */
.qFaHeader {
    height: auto;
    padding: 17px 0;
    background-color: transparent;
    transition: all 0.4s ease 0s;
    display: grid;
    align-items: center;
}

.qFaHeader.nav-fixed {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color: #222222;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    height: 70px;
}

.qFaHeader h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 28px;
}

.qFaHeader .container,
.qFaHeader .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.qFaHeader .navbar {
    padding: 0;
}

.qFaHeader .navbar-brand {
    font-size: 32px;
    color: #fff;
    padding: 0px;
    position: relative;
}

.qFaHeader .navbar-brand i {
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}

.nav-fixed .navbar .navbar-brand{
    color: #fb811e;
}

.qFaHeader .qFaHeader_search {
    margin: 0 10px 0 10px;
}

.qFaHeader_search input[type=search] {
    background: #fff url(../img/search.png) no-repeat 10px center;
    border: solid 1px #eee;
    padding: 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 10em;
    transition: all .5s;
    cursor: pointer;
    outline: none;
}

.qFaHeader_search input[type=search]:hover {
    background-color: #fff;
}

.qFaHeader_search input[type=search]:focus {
    width: 200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    padding-right: 15px;
}

.qFaHeader_theme {
    display: flex;
    align-items: center;
}

.qFaHeader_switch {
    display: inline-block;
    position: relative;
    margin: 0;
}

.qFaHeader_switch input {
    display: none;
}

.qFaHeader_mode {
    width: 24px;
    height: 24px;
    padding: 0px 0;
    margin-left: 10px;
    color: #fff;
}

.qFaHeader_mode:hover {
    color: #fb811e;
}

.qFaHeader_mode i {
    font-size: 15px;
}

.qFaHeader_mode i.gg-sun {
    display: block;
    cursor: pointer;
}

input:checked+.qFaHeader_mode i.gg-sun {
    display: none;
}

input:checked+.qFaHeader_mode i.gg-moon {
    display: block;
    cursor: pointer;
}

.qFaHeader_mode i.gg-moon {
    display: none;
}

.qFaHeader .navbar-toggler,
.qFaHeader .navbar-toggler:focus,
.qFaHeader .navbar-toggler:active,
.qFaHeader .navbar-toggler-icon:focus {
    padding: .5rem 0;
    color: #fff;
    font-size: 29px;
    border: none;
    outline: none;
    box-shadow: none;

}

.qFaHeaderMenu{
    position: relative;
}

.qFaNavbar-collapse {
    padding: 0;
    list-style-type: none;
    background: #222222;
    position: absolute;
    min-width: 232px;
    right: 0px;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}

#qFaNav .nav-item a {
    color: #fff;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s all;
}

#qFaNav .navbar-nav .nav-item a:hover,
#qFaNav .navbar-nav .nav-item .active 
{
    color: #fb811e;
}

/* carousel */
.qFaCarousel_left {
    position: absolute;
    left: 0em;
    padding: 2em;
    z-index: 1;
}

.qFaCarousel_content {
    background-color: #222222;
    padding: 3em 2em 2em 4em;
    border-radius: 8px;
}

.qFaCarousel_left h2 {
    color: #0b0d0e;
    font-size: 70px;
    font-weight: bold;
    margin-left: -0.5em;
    line-height: 28px;
}

.qFaCarousel_body h3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
}

.qFaCarousel_text {
    margin: 0;
    padding: 0;
    color: #b7b7b7;
    font-size: 16px;
    line-height: 26px;
}

.qFaCarousel_right {
    position: relative;
}

#qFaCaptions .carousel-inner{
    border-bottom-left-radius: 20px;
}

.qFaCarousel_image1,
.qFaCarousel_image2,
.qFaCarousel_image3
 {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: top center;
    filter: brightness(85%);
}

.qFaCarousel_image1{
    background-image: url(../img/b1.jpg);
}

.qFaCarousel_image2{
    background-image: url(../img/b8.jpg);
}

.qFaCarousel_image3{
    background-image: url(../img/b4.jpg);
}

.qFaCarousel_right .carousel-caption {
    padding: 0;
    right: 1em;
    bottom: 40px;
    left: auto;
}

.qFaCarousel_right .carousel-caption h4{
    color: #fff;
    font-weight: 400;
    line-height: 28px;
}

.qFaCarousel_right .carousel-caption p {
    color: #fff;
    line-height: 26px;
    font-size: 17px;
}

.qFaCarousel_right .carousel-indicators {
    bottom: 27px;
    margin: 0 auto;
}


.qFaCarousel_right .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0px 6px;
    border: none;
    opacity: 1;
}

.qFaCarousel_right .carousel-indicators button.active {
    background-color: #fb811e;
}

/* mode theme */
/* Dark Theme*/
.dark#myBody{
    background-color: #fff;
}

.dark#myBody .nav-fixed{
    background-color: #fff;
}

.dark#myBody .nav-fixed .qFaHeader_mode{
    color: #060606;
}

.dark#myBody .nav-fixed .navbar-toggler{
    color: #060606;
}

.dark#myBody #qFaNav{
    background-color: #fff;
}

.dark#myBody .nav-item a{
    color: #060606;
}

.dark#myBody .qFaCarousel_body h3{
    color: #060606;
}

.dark#myBody .qFaCarousel h2{
    color: #f4f4f4;
}

.dark#myBody .qFaCarousel_text{
    color: #707070;
}

.dark#myBody .qFaCarousel_content{
    background-color: #fff;
}

/* responsive */
@media (min-width: 576px) {
    .qFaCarousel_left h2 {
        font-size: 80px;
    }

    .qFaCarousel_body h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .qFaCarousel_text {
        font-size: 17px;
    }
}

@media (min-width: 768px) {
    .qFaHeader .navbar .navbar-brand {
        color: #fb811e;
        transition: all .5s;
    }

    .qFaHeader .navbar a.navbar-brand:hover {
        color: #fdfffc;
    }

    .dark#myBody .qFaHeader .navbar a.navbar-brand:hover {
        color: #060606;
    }

    .dark#myBody .nav-fixed .navbar .navbar-brand {
        color: #060606;
    }

    .nav-fixed .navbar .navbar-brand{
        color: #fff;
    }

    .qFaCarousel_left {
        left: 2em;
        padding: 0 15px;
    }

    #myBody .qFaCarousel .qFaCarousel_content {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }
}

@media (min-width: 992px) {
    .qFaHeader {
        height: 90px;
        padding: 0;
    }

    .qFaHeader .navbar-expand-lg .navbar-toggler {
        display: inline-block;
    }

    .qFaHeader .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

    .qFaCarousel_left {
        left: 5em;
    }

    .qFaCarousel_left h2 {
        font-size: 90px;
    }

    .qFaCarousel_body h3 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media (min-width: 1150px) {
    .qFaCarousel_left {
        left: 10em;
    }

    .qFaCarousel_left h2 {
        font-size: 100px;
    }

    .qFaCarousel_body h3 {
        font-size: 40px;
        line-height: 50px;
    }

    .qFaCarousel_text {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    
    .qFaCarousel_text,
    .qFaCarousel_right .carousel-caption p{
        line-height: 27px;
    }
}

@media (min-width: 1280px) {
    .qFaHeader .container{
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .qFaCarousel_left h2 {
        font-size: 120px;
    }
    
    .qFaCarousel_body h3 {
        font-size: 50px;
        line-height: 60px;
    }
}
.call-grids-w3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.box-wrap{
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);   
}
.box-wrap:hover{

    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 3%)  ;   
}
.box-wrap h4 a{
    text-decoration: none;
    color: white;

}
@media (min-width: 1280px){
 .container {
    max-width: 1200px;
}
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h5.small-title {
    color: #fb811e;
    font-size: 22px;
}
.title-head{
    margin-top: 25px;
}
.text-para{
    color: white;
}
.box-wrap img {
    max-width: 65px;
    display: block;
    margin: 25px  auto;
    
}
/* darkmode fearture */

.dark#myBody .box-wrap h4 a{
    color: #000;
}
.dark#myBody .box-wrap {
    box-shadow: 0 1rem 3rem white;   
}
.dark#myBody  .title-style{
    color: #000;
}
.dark#myBody  .text-para{
    color: #000;
}

.service-section{
    background-color: #009f4d;
}
.title-style {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;

}
/* Service */
h4.title-bg-content {
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
    right: 50%;
    /* left: 0; */
    bottom: 50%;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}
.service-section .card {
    border: none;
    background: none;
}
.service-section .card img {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.img-responsive {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    width: 100%;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.service-details {
    background: #222222;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid #222222;
    border-top: none;
}
.service-section span.label-style {
    color: #009f4d;
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: 600;
}
a.service-heading {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin: 15px 0;
}
p{
    color: #b7b7b7;
}
/* DarkMode Service */
.dark#myBody .service-details{
    background-color: white;
}
.dark#myBody .service-heading{
   color: black;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.index-block4 .feature-unit {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 2rem 1rem;
    margin-bottom: 100px;
    /* background: var(--bg-light); */
    transition: 0.3s ease-in;
  }
  .feature-unit img{
      width: 50%;
  }
  .index-block4 .feature-unit:hover,
  .index-block4 .feature-unit.active {
    border: 1px solid #b7b7b7;
    transition: 0.3s ease-in;
    /* box-shadow: -1px 2px 12px -9px var(--box-shadow); */
   
  }
  .grids_info span.fa {
    font-size: 20px;
    color: #fb811e;
}
.dark#myBody .detail h4{
    color: #000;
}
  
  .index-block4 .features15-col-text {
    margin-top: 30px;
  }
  
  .index-block4 .features15-para h4 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
  }
  .dark#myBody .features15-para h4 {
      color: #000;
  }
  .index-block4 .features15-para p {
    margin-top: 10px;
  }
  
  .index-block4 .features15-col-text:hover div.features15-para h4 {
    transition: 0.3s ease-in-out;
    color:     #009f4d;
;
  }
  
  .index-block4 .features15-para h4:hover {
    transition: 0.3s ease-in-out;
    color: #009f4d;
  }
  
  @media screen and (max-width: 1200px) {
    h3.title-big {
      font-size: 35px;
      line-height: 45px;
    }
  
    .index-block4 .feature-unit {
      padding: 1.5rem .5rem;
    }
  
    p {
      line-height: 26px;
    }
  
    .index-block4 .features15-para h4 {
      font-size: 19px;
    }
  }
  a{
      text-decoration: none;
  }
  @media screen and (max-width: 991px) {
    .w3l-index-block4 .features15-para h4 {
      font-size: 20px;
    }
  
    h3.title-big {
      font-size: 30px;
      line-height: 40px;
    }
  }
  


/* GALLERY */

.gallery{
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.gallery__item{
    position: relative;
}
.gallery__item a{
    cursor: pointer;
}
.gallery__img{
    padding: 0;
}
.gallery__title h5{
    color: #fb811e;
    font-size: 22px;
}

.gallery__title h3{
    color: white;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}
.gallery__title p{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #707070;
}
.gallery__btn{
    font-size: 16px;
    line-height: 26px;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s all;
}
.gallery__btn:hover{
    color: #eee;
    background-color: #009f4d;
    transition: 0.5s all;
}
.gallery__topic{
    position: relative;
    overflow: hidden;
}
.gallery__topic::before{
    
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -75%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-17deg);
}
.gallery__topic:hover::before{
    left: 125%;
    transition: 1s all;
}

.gallery__topic img{
    width: 100%;
}
.gallery__topic h5{
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}
.imginfo__box {
    background-color: #fb811e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}
.imginfo__box .imginfo__title {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}
.imginfo__box p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
}
/* Testimonial */
.testimonial{
    background-image:url(../img/bg1.jpg) ;
    position: relative;
    z-index: 1;
    padding-top: 3rem ;
    padding-bottom: 3rem;
}
.testimonial__home{
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
}

.testimonial::before{
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.testimonial__item{
    max-width: 900px;
    margin: auto;
}

.testimonial__topic{
    text-align: center;
}

.testi-img{
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}
.testimonial_info{
    align-self: center;
}
.testimonial__info h3{
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 5px;
    color: #fff;
}
.testimonial__info p{
    color: #fff;
    font-size: 16px;
}
.testimonial__text{
    padding-left: 3rem;
}
.testimonial__text span{
    font-size: 20px;
    color: #fb811e;
    font-weight: 600;
    display: inline-block;
}
.testimonial__text p{
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    text-indent: 30px;
    display: block;
}

.owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 75px;
    background: none;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
    bottom: -50px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #fff;
    opacity: 0.3;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #fb811e;
    opacity: 1;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fb811e;
    opacity: 1;
}

.dark#myBody .gallery__title h3{
    color: black;
}

/* Footer */
.footer{
    padding: 3rem 0;
}
.footer p{
    color: #707070;
}

.footer__contact h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: white;
}
.dark#myBody .footer__contact h3{
    color: black;
}
.footer__contact p{
    line-height: 24px;
}

.footer__contact p:nth-of-type(2), .footer__contact p:nth-of-type(3), .footer__contact p:nth-of-type(4){
    margin-top:1rem ;
}
.footer__contact a{
    
    text-decoration: none;
    color: #707070;
    transition: 0.5s all;
}
.footer__contact p a:hover{
    color: #fb811e;
    transition: 0.5s all;
}

.footer__logo a{
    text-decoration: none;
    font-size: 32px;
    color: #fb811e;
    position: relative;
    transition: 0.5s all;
}
.footer__logo a:hover{
    color: #060606;
    transition: 0.5s all;
}

.footer__logo i{
    font-size: 20px;
    position: absolute;
    top: -3px;
    left: 47px;
}
.footer__copyright p:first-of-type{
    margin-top: 1rem;
}
.footer__copyright p:last-of-type{
    margin-top: 3rem;
}
.footer__copyright p:last-of-type a{
    text-decoration: none;
    color: #009f4d;
    transition: 0.5s all;
}
.footer__copyright p:last-of-type a:hover{
    color: #fb811e;
    transition: 0.5s all;
}


.footer__letter h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: white;
}
.dark#myBody .footer__letter h3{
    color: black;
}
.footer__form{
    margin-top: 1rem;
    display: flex;
}
.footer__form input{
    background: black;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 30px 0px 0px 30px;
}
.dark#myBody .footer__form input{
    background: #f4f4f4;
}
.footer__form button{
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    transition: 0.5s all;
}
.footer__form button:hover{
    opacity: 0.8;
    transition: 0.5s all;
}

.footer__letter ul{
    list-style: none;
    margin: 1.5rem 0 0 0;
    padding: 0.25rem 0 0 0;

}
.footer__letter li{
    display: inline;
    margin-right: 5px;
}
.footer__letter li a{
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block ;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s all;
}
.footer__letter li a:hover{
    color: #fb811e;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
    transition: 0.5s all;
}



.footer__letter li a i{
    font-size: 15px;
    line-height: 35px;
}


/* BackToTop */
#movetop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 3;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background: #009f4d;
    border-radius: 4px;
    padding: 0px;
    transition: .5s all;
}

#movetop:hover{
    opacity: .8;
    transition: .5s all;
}


/* reponsive */
/* min 576 */

@media (min-width:576px) {
    .container{
        max-width: 540px;
        
    }
    .gallery__title{
        margin-top: 0.5rem;
    }
    
}


/* min 768 */
@media (min-width:768px) {
    .container{
        max-width: 720px;
        
    }
    
    .testimonial__home{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
}

/* min 992 */
@media (min-width:992px) {
    .container{
        max-width: 960px;
    } 

    .testimonial__layout{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}


/* min 1200 */
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
       }
}

/* min 1280 */
@media (min-width: 1200px){
    .container{
        max-width: 1200px;
       }
}


/* max-width  */

@media (max-width: 576px){
    .gallery__img:nth-child(1){
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }
}


/* max 576 */

@media (max-width: 576px){
    .gallery__title h3{
        font-size: 30px;
        line-height: 40px;
    }
}

/* max 768 */
@media (max-width: 768px){
    .gallery__title h5{
        font-size: 18px;
    }
    .gallery__title h3{
        font-size: 32px;
        line-height: 42px;
    }
    .testimonial__info h3 {
    font-size: 20px;
    }
    .testimonial__text {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0 15px;
    }
    .testimonial__text p{
        font-size: 17px;
        line-height: 30px;
    }
}

/* max 992 */
@media (max-width: 992px){
    .gallery__title h5{
        font-size: 20px;
    }
    .gallery__title h3{
        font-size: 35px;
        line-height: 45px;
    }
    .footer__copyright, .footer__letter{
        margin-top: 3rem;
    }
}