*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* GALLERY */

.gallery{
    padding: 3rem 0;
    margin-bottom: 3rem;
}
.homePage{
    margin-left: 0;
    margin-right: 0;
}
.gallery__item{
    position: relative;
}
.gallery__item a{
    cursor: pointer;
}
.gallery__img{
    padding: 0;
}
.gallery__title h5{
    color: #fb811e;
    font-size: 22px;
}

.gallery__title h3{
    color: #060606;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}
.gallery__title p{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #707070;
}
.gallery__btn{
    font-size: 16px;
    line-height: 26px;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s all;
}
.gallery__btn:hover{
    color: #eee;
    background-color: #009f4d;
    transition: 0.5s all;
}
.gallery__topic{
    position: relative;
    overflow: hidden;
}
.gallery__topic::before{
    
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -75%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-17deg);
}
.gallery__topic:hover::before{
    left: 125%;
    transition: 1s all;
}

.gallery__topic img{
    width: 100%;
}
.gallery__topic h5{
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}

/* Testimonial */
.testimonial{
    background-image:url(../../img/bg1.jpg) ;
    position: relative;
    z-index: 1;
    padding-top: 3rem ;
    padding-bottom: 3rem;
}
.testimonial__home{
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
}

.testimonial::before{
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.testimonial__item{
    max-width: 900px;
    margin: auto;
}

.testimonial__topic{
    text-align: center;
}

.testi-img{
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}
.testimonial_info{
    align-self: center;
}
.testimonial__info h3{
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 5px;
    color: #fff;
}
.testimonial__info p{
    color: #fff;
    font-size: 16px;
}
.testimonial__text{
    padding-left: 3rem;
}
.testimonial__text span{
    font-size: 20px;
    color: #fb811e;
    font-weight: 600;
    display: inline-block;
}
.testimonial__text p{
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    text-indent: 30px;
    display: block;
}

.owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 75px;
    background: none;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
    bottom: -50px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #fff;
    opacity: 0.3;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #fb811e;
    opacity: 1;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fb811e;
    opacity: 1;
}


/* Footer */
.footer{
    padding: 3rem 0;
}
.footer p{
    color: #707070;
}

.footer__contact h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: black;
}
.footer__contact p{
    line-height: 24px;
}

.footer__contact p:nth-of-type(2), .footer__contact p:nth-of-type(3), .footer__contact p:nth-of-type(4){
    margin-top:1rem ;
}
.footer__contact a{
    
    text-decoration: none;
    color: #707070;
    transition: 0.5s all;
}
.footer__contact p a:hover{
    color: #fb811e;
    transition: 0.5s all;
}

.footer__logo a{
    text-decoration: none;
    font-size: 32px;
    color: #fb811e;
    position: relative;
    transition: 0.5s all;
}
.footer__logo a:hover{
    color: #060606;
    transition: 0.5s all;
}

.footer__logo i{
    font-size: 20px;
    position: absolute;
    top: -3px;
    left: 47px;
}
.footer__copyright p:first-of-type{
    margin-top: 1rem;
}
.footer__copyright p:last-of-type{
    margin-top: 3rem;
}
.footer__copyright p:last-of-type a{
    text-decoration: none;
    color: #009f4d;
    transition: 0.5s all;
}
.footer__copyright p:last-of-type a:hover{
    color: #fb811e;
    transition: 0.5s all;
}


.footer__letter h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: black;
}
.footer__form{
    margin-top: 1rem;
    display: flex;
}
.footer__form input{
    background: #f4f4f4;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee;
    border-radius: 30px 0px 0px 30px;
}
.footer__form button{
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    transition: 0.5s all;
}
.footer__form button:hover{
    opacity: 0.8;
    transition: 0.5s all;
}

.footer__letter ul{
    list-style: none;
    margin: 1.5rem 0 0 0;
    padding: 0.25rem 0 0 0;

}
.footer__letter li{
    display: inline;
    margin-right: 5px;
}
.footer__letter li a{
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block ;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s all;
}
.footer__letter li a:hover{
    color: #fb811e;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
    transition: 0.5s all;
}



.footer__letter li a i{
    font-size: 15px;
    line-height: 35px;
}


/* BackToTop */
#movetop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 3;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background: #009f4d;
    border-radius: 4px;
    padding: 0px;
    transition: .5s all;
}

#movetop:hover{
    opacity: .8;
    transition: .5s all;
}


/* reponsive */
/* min 576 */

@media (min-width:576px) {
    .container{
        max-width: 540px;
        
    }
    .gallery__title{
        margin-top: 0.5rem;
    }
    
}


/* min 768 */
@media (min-width:768px) {
    .container{
        max-width: 720px;
        
    }
    
    .testimonial__home{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
}

/* min 992 */
@media (min-width:992px) {
    .container{
        max-width: 960px;
    } 

    .testimonial__layout{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}


/* min 1200 */
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
       }
}

/* min 1280 */
@media (min-width: 1200px){
    .container{
        max-width: 1200px;
       }
}


/* max-width  */

@media (max-width: 576px){
    .gallery__img:nth-child(1){
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }
}


/* max 576 */

@media (max-width: 576px){
    .gallery__title h3{
        font-size: 30px;
        line-height: 40px;
    }
}

/* max 768 */
@media (max-width: 768px){
    .gallery__title h5{
        font-size: 18px;
    }
    .gallery__title h3{
        font-size: 32px;
        line-height: 42px;
    }
    .testimonial__info h3 {
    font-size: 20px;
    }
    .testimonial__text {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0 15px;
    }
    .testimonial__text p{
        font-size: 17px;
        line-height: 30px;
    }
}

/* max 992 */
@media (max-width: 992px){
    .gallery__title h5{
        font-size: 20px;
    }
    .gallery__title h3{
        font-size: 35px;
        line-height: 45px;
    }
    .footer__copyright, .footer__letter{
        margin-top: 3rem;
    }
}


